.turma input {
    font-family: 'Roboto';
    font-size: normal;
    color: black;
    border: none;
    outline: none;

}

.option {
    height: 35px;
}

form [type="submit"] {
    height: 45px;
    display: block;
    background-color: #413DBB;

    border-radius: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}